<p><%= @resource.first_name %>,</p>

<p>Hemos recibido la solicitud para recuperar tu contraseña.</p>

<p>Entra a la siguiente liga para elegir una nueva contraseña: <a href='<%="http://#{ENV['FRONTEND_HOST']}/forgot?reset_password_token=#{@token}" %>'>Recuperar mi contraseña</a>
</p>

<p>Si tienes alguna duda escríbenos a <a href="mailto:admin@futuranetwork.com">admin@futuranetwork.com</a></p>
